HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/
# macOS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Codex ###
.claude/

# Environment variables
.env
.env.*
.env.qr
backend/env
backend/env.**
checkIns/.env*
secrets.env


# Local notes
There

# Seed files
**/seed/
**/seeds/
**/*seed*.sql
**/*seed*.json
**/*seed*.csv
**/*seed*.java

# Frontend
frontend/node_modules/
frontend/.next/
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/.pnpm-debug.log*

# k6 files
k6

# 마이그레이션 파일
/V0__roles_and_privileges.sql
/scripts/

# Log files
logs/
*.log
**/logs/
