<configuration>

    <springProperty name="SERVICE_NAME" source="spring.application.name" defaultValue="unknown-service"/>
    <property name="SERVICE_NAME" value="${SERVICE_NAME:-unknown-service}"/>

    <appender name="JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>

                <timestamp>
                    <timeZone>UTC</timeZone>
                </timestamp>

                <pattern>
                    <pattern>{
                        "level": "%level",
                        "service": "${SERVICE_NAME}",
                        "traceId": "%X{traceId:-}",
                        "httpMethod": "%X{httpMethod:-}",
                        "path": "%X{path:-}",
                        "httpStatus": "%X{httpStatus:-}",
                        "elapsedMs": "%X{elapsedMs:-}",
                        "thread": "%thread",
                        "logger": "%logger{40}",
                        "message": "%message"
                    }</pattern>
                </pattern>

            </providers>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="JSON_CONSOLE"/>
    </root>

</configuration>
